body {
    background-color: #0d1321;
    font-family: Rubik, sans-serif;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    
}

.navigation {
    position: relative;
    display: flex;
    gap: 30px;
}
li {
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}
li:hover {
    background-color: #033475;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);   
}
ul {
    margin-top: 0;
    background-color: #1d2d44;
    display: flex;
}
img {
   border-radius: 15px;
}
.material-symbols-outlined {
    background-color: white;
    color: black;
    border-radius: 30px;

}
.text {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}